* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin-left: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #23d2be;
}

body {
    background-color: #27273b;
    color: #933d12;
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 10px 0;
}

.menu {
    margin: 25px 10px;
    padding: 20px 30px;
    border: 1px solid #fff;
}

.vpn {
    color: #9b0e8f;
}

.block {
    margin: 50px 0;
}

.content li+li {
    margin-top: 15px;
}
