body {
    background-color: #a8a7a7;
}
.bl1 {
    width: 350px;
    height: 200px;
    border: 1px solid #000;
    font-size: 26px;
}
.t {
    font-size: 26px;

}
.sel {
    width: 100px;
}
.img-test {
    width: 150px;
}